<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- en bloque -->
    <h1>Titulo</h1>
   <p>Hola</p>
   <hr>

    <!-- En linea -->
    <span class="Saludo" id="saludoInicial">Hola</span>
    <img src="https://assets.nintendo.com/image/upload/ar_4:3,c_pad,dpr_2.0,f_auto,q_auto,w_400/v1/ncom/en_US/games/switch/p/pokemon-legends-arceus-switch/egdp/pokemon-2" alt="100">

    <a href="https://www.youtube.com/">Youtube</a>
    <a href="http://127.0.0.1:5500/assets/index.html">Index</a>
    <!-- Listar ordenadas -->
    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>


    </ol>
    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- Css en el documento -->
    <style>
        body{
            background-color: aqua;
        }

    </style>

    <div>

    </div>
    <!-- Enlazar un archivo css  -->
<link rel="stylesheet" href="assets/css/estilos.css">

    <!-- JavaScript en el documento -->
    <!-- <script>
        alert("Hola Mundo") -->

    </script>
    <!-- Enlazar un archivo JavaScript -->
    <script src="assets/js/main.js"></script>

    



</body>
</html>