.h1{
    text-align: center;
}

.formulario{
    border: 5px solid blueviolet;
    padding: 10px; 
    background-color: aqua;
    width: 300px;
    margin: 0 auto;
 
}

.colorfondo{
    background-color: rgb(199, 139, 255);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.acomodoLabe{
    display: inline-block;
    width: 100px;
}